{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    
    <div class="box">
        <p class="title has-text-centered">Confirm Email</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        
        <form method="POST" action="{{ url_for('auth.confirm_email', id=user.id) }}">
            <div class="block">
                
                <div class="field">
                    <label class="label">Enter 6 digit code sent to your email at {{ user_email }}</label>
                    <div class="control">
                        <input class="input" type="text" name="code" placeholder="Paste 6 digit code here." autofocus="" required>
                    </div>
                </div>

                <div class="block">
                    <button class="button is-info is-fullwidth">Submit</button>
                </div>

                <div class="block">
                    <p class="has-text-centered">Problem getting code? <a href={{ url_for('auth.login') }}>Too bad.</a></p>
                </div>

            </div>
        </form>
    </div>
</div>

{% endblock %}